main {
  display: flex;
  flex-direction: column;
  background-color: #1d1d2e;
  align-items: center;
  padding-top: min(6.5vh, 10vh);
  padding-inline: min(6.7vw, 10vw);
}

header {
  background-color: rgba(255, 255, 255, 1);
  font-size: 1rem;
  width: 100%;
  max-width: 1460px;
  padding: 5px;
  margin: 0 0 1rem;
  border-radius: 5px;
}

nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 5px;
}

button {
  background-color: #395FA9;
  color: #FFCB05;
  cursor: pointer;
  border: 2px solid rgba(0, 0, 0, 0.8);
  padding-inline: 5px;
  border-radius: 5px;
}

.bold {
  font-weight: bold;
}

.record {
  text-align: right;
}
.scoreboard {
  display: grid;
  grid-template-columns: auto auto auto;
  border: 1px solid rgba(0, 0, 0, 0.8);
}

.scoreboard-item {
  text-align: center;
  border: 1px solid rgba(0, 0, 0, 0.8);
}

.grid {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  gap: 15px;
  width: 100%;
  max-width: 1460px;
  margin: 0 auto;
}

.card {
  aspect-ratio: 3/4;
  width: 100%;
  border-radius: 5px;
  position: relative;
  transition: all 400ms ease;
  transform-style: preserve-3d;
  background-color: #ccc;
}

.face {
  width: 100%;
  height: 100%;
  position: absolute;
  background-size: cover;
  background-position: center;
  border: 5px solid #00b5cc;
  border-radius: 5px;
  transition: all 400ms ease;
}

.front {
  transform: rotateY(180deg);
  background-size: 100%;
  background-repeat: no-repeat;
  background-image: url(../images/pokeball1.png);
}

.pkmn-image {
  width: 100%;
}

.pkmn-name {
  color: white;
  text-align: center;
  margin-top: auto;
  text-transform: capitalize;
}

.back {
  background-image: url('../images/card-back.png');
  backface-visibility: hidden;
}

.reveal-card {
  transform: rotateY(180deg);
}

.disabled-card {
  filter: saturate(0);
  opacity: 0.5;
}

@media screen and (max-width:945px) {
  .grid {
    grid-template-columns: repeat(6, 1fr);
  }
}

@media screen and (max-width:785px) {
  .grid {
    grid-template-columns: repeat(5, 1fr);
  }
}

@media screen and (max-width:850px) {
  .pkmn-name {
    font-size: small;
  }
}

@media screen and (max-width:600px) {
  .pkmn-name {
    font-size: x-small;
  }
}

@media screen and (max-width: 500px) {
  .grid {
    grid-template-columns: repeat(4, 1fr);
  }
}

@media screen and (max-width:400px) {
  .pkmn-name {
    font-size: xx-small;
  }
}

@media screen and (max-width:320px) {
  .pkmn-name {
    display: none;
  }
}