@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');

* {
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    /* background: linear-gradient(to bottom, #6ab7f5, #fff); */
    background-color: #1d1d2e;
    margin: 0;
    height: 80vh;
}

.main {
    margin-top: 5rem;
}